<header>
    <img src="assets\icons\jhonatan_tumbnails_dotnet.jpg"
     alt="Foto de perfil Jhonatan"
     width="130px"
     height="130px"
     loading="eager">
     <h1>Jhonatan Landes</h1>

</header>
<aside>
    <div class="container">
        <h3>Desenvolvedor Fullstack</h3>
        <p>DOTNET CORE | ASP.NET MVC | BLAZOR | ANGULAR | C# | DAPPER | ENTITY-FRAMEWORK | SQL-SERVE</p>
        <p>Belo Horizonte - Minas Gerais - Brasil</p>
        <p>Sou desenvolvedor de software, com 3 anos de experiência na plataforma Dotnet. Eu tenho
            Inglês avançado e grande habilidade para trabalhar em equipe. Sou responsável e dinâmico,
            Procuro sempre me atualizar e sou autodidata.
            
            
            Habilidades e qualificações
            - Estúdio Visual;
            - DOTNET Framework, versão 4.8;
            - DOTNET Core, versão 6.0 7.0 8.0.
            - WebApi, RESTFul, ASP clássico, Visual Basic, ASP.NET WebForms, ASP.NET MVC.
            - Entity Framework e LINQ
            - HTML, CSS, Javascript, Bootstrap, jQuery, JSON, XML, XPath.
            - SQL Server, linguagem T-SQL.
            - MySQL.
            - Carteiro.
            - Git e GitHub.
            - OP.
            - Padrões de design.
            - Metodologias ágeis.
            - Scrum.
            - Inglês, Espanhol e Português.</p>

            <nav>
                <ul>
                    <li>
                        <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Donwload CV</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jhonatan-landes/" target="_blank" class="btn btn-primary">Linkedin</a>
                    </li>
                </ul>
            </nav>

            <section>
                <figure>
                    <img src="assets/icons/whatsapp.svg" 
                    alt="icone para contato do whatsapp"
                    width="22px"
                    height="24px">
                </figure>

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5531999328177&text=vamos conversar"
                    target="_blank">
                    <strong>Envie uma mensagem para?</strong>
                    <p>whatsapp: (31) 9 999328177</p>
                    </a>
                </figcaption>
            </section>
    </div>
</aside>